.idea
logs
*.bak
build
local
*.local
certs
*.exe
*.out
*.cover
cover*.html
cover
.claude/*py
.claude/worktrees/
.trae/
*.out.txt
coverage.tmp
data*
cov2.html
coverage.html
sproxy.yaml

# playwright browsers
ms-playwright/
