go 1.27

use (
	.
	./cmd/sclient
	./cmd/sproxy
	./cmd/sproxy-mcp
	./pkg/authn/ext/oidcldap
	./pkg/baidupcs
	./pkg/certmgr/ext/dnspod
	./pkg/telemetry/ext/otel
	./pkg/tunnel/hub/ext/kad
	./pkg/tunnel/mesh
	./pkg/tunnel/xfer/ext/grpc
	./pkg/tunnel/xfer/ext/quic
	./pkg/tunnel/xfer/ext/webrtc
	./pkg/tunnel/xfer/ext/ws
	./pkg/volume/ext/s3
	./web/e2e
)
